# **DATA UNDERSTANDING**

This project combines historical agricultural production data, county-level crop statistics, climate data, and pesticide usage data to examine how county location, planting and harvest periods, weather patterns (rainfall & temperature), and agricultural input usage influence crop yield. 

**a). Kenya Agricultural Production dataset**
* Sourced from Kaggle, it provides national-level crop production and yield data. Its key columns are:

1. Year – Reporting year (int64)
2. Item – Crop type (object)
3. Item Code (CPC) – Standardized crop classification code (float64)
4. Area_Harvested_ha – Harvested area in hectares (float64)
5. Production_tonnes – Total production in tonnes (float64)
6. Yield_hg_per_ha – Crop yield in hectograms per hectare (float64)


**b). Regional Crop Production Dataset** 
* The second dataset is obtained from HarvestStat Africa, it provides regional crop production data at the county level and contains 43,758 rows with 15 key columns, which are:

1. fnid – Regional identifier code (object)
2. country – Country name (object)
3. country_code – ISO country code (object)
4. admin_1 – County (object)
5. admin_2 – Sub-county or district (object)
6. name – Region name (object)
7. product – Crop type (object)
8. season_name – Cropping season (object)
9. planting_year – Year planted (int64)
10. planting_month – Month planted (int64)
11. harvest_year – Year harvested (int64)
12. harvest_month – Month harvested (int64)
13. crop_production_system – Production system classification (object)
14. indicator – Measurement type (e.g., area or yield) (object)
15. value – Numeric measurement value (float64)

* This dataset allows county-level analysis and shows how productivity differs across regions.

**c). Agricultural Dataset**
* The third dataset (FAO-style structured agricultural dataset) provides standardized agricultural indicators for validation and restructuring. It contains 100,004 rows and its key columns includes:

1. Year – Reporting year (int64)
2. Area – Geographic area (object)
3. Item – Crop type (object)
4. Element – Indicator type (Area harvested, Production, Yield) (object)
5. Value – Numeric measurement (float64)
6. Unit – Measurement unit (object)
7. Area Code (M49) – Geographic coding standard (object)
8. Note – Metadata notes (object)


**d). Climate Dataset**
* Climate data from OpenAfrica consists of two monthly datasets with 312 records each.
* The rainfall and temperature datasets and their key columns are:

1. Year – Reporting year (int64)
2. Month Average – Month (object)
3. Rainfall - (MM) – Rainfall in millimeters (float64)
4. Temperature - (Celsius) – Average temperature in degrees Celsius (float64)

* These climate datasets capture environmental conditions affecting crop growth and will be combined to align with production data.

**e). Pesticide Usage Dataset**
* The pesticide usage dataset, sourced from the KAPSARC Data Portal, includes Kenya-specific agricultural input data. Its columns are

1. admin_1 – County (object)
2. product – Crop type (object)
3. indicator – Measurement type (object)
4. planting_year – Year planted (int64)
5. harvest_year – Year harvested (int64)
6. value – Numeric pesticide usage measurement (float64)


* The primary target variable for this project is Yield_hg_per_ha, making this a supervised regression problem. Predictor variables include regional identifiers(county), crop type, production measures, climate indicators(rainfall, temperature), pesticide usage, and planting and harvest periods.

Overall, the available data provides sufficient regional, temporal, environmental, and input-related information to support the development of a supervised machine learning model for predicting crop yield across counties in Kenya.

# **DATA PREPARATION**

## 1) Regional_Crop_production_dataset

In [2]:
# import necessary libraries
import pandas as pd

In [3]:
# Load the regional crop production dataset
regional_df=pd.read_csv("./data/adm_crop_production_KE.csv", index_col=0)
regional_df

,fnid,country,country_code,admin_1,admin_2,name,product,season_name,planting_year,planting_month,harvest_year,harvest_month,crop_production_system,indicator,value
0,KE2013A101,Kenya,KE,Mombasa,none,Mombasa,Kale,Annual,2022,1,2022,12,All (PS),area,21.000000
1,KE2013A101,Kenya,KE,Mombasa,none,Mombasa,Watermelon,Annual,2022,1,2022,12,All (PS),area,26.000000
2,KE2013A101,Kenya,KE,Mombasa,none,Mombasa,Banana,Annual,2012,1,2012,12,All (PS),area,125.100000
3,KE2013A101,Kenya,KE,Mombasa,none,Mombasa,Banana,Annual,2013,1,2013,12,All (PS),area,121.500000
4,KE2013A101,Kenya,KE,Mombasa,none,Mombasa,Banana,Annual,2022,1,2022,12,All (PS),area,39.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43753,KE2013A147,Kenya,KE,Nairobi,none,Nairobi,Amaranth,Annual,2014,1,2014,12,All (PS),yield,14.090909
43754,KE2013A147,Kenya,KE,Nairobi,none,Nairobi,Amaranth,Annual,2015,1,2015,12,All (PS),yield,13.400000
43755,KE2013A147,Kenya,KE,Nairobi,none,Nairobi,Amaranth,Annual,2016,1,2016,12,All (PS),yield,15.000000
43756,KE2013A147,Kenya,KE,Nairobi,none,Nairobi,Amaranth,Annual,2017,1,2017,12,All (PS),yield,14.933333
43757,KE2013A147,Kenya,KE,Nairobi,none,Nairobi,Amaranth,Annual,2018,1,2018,12,All (PS),yield,17.304348

In [4]:
# checking the general info of the dataset
regional_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 43758 entries, 0 to 43757
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   fnid                    43758 non-null  object
 1   country                 43758 non-null  object
 2   country_code            43758 non-null  object
 3   admin_1                 43758 non-null  object
 4   admin_2                 43758 non-null  object
 5   name                    43758 non-null  object
 6   product                 43758 non-null  object
 7   season_name             43758 non-null  object
 8   planting_year           43758 non-null  int64
 9   planting_month          43758 non-null  int64
 10  harvest_year            43758 non-null  int64
 11  harvest_month           43758 non-null  int64
 12  crop_production_system  43758 non-null  object
 13  indicator               43758 non-null  object
 14  value                   43758 non-null  float64
dtypes: float64(1), int64(4), object(10)
memory usage: 5.3+ MB

In [5]:
# Check the shape of the crop-production dataset
regional_df.shape

(43758, 15)

In [6]:
# Check for duplicates
regional_df.duplicated().sum()

0

In [7]:
# Check for null values
regional_df.isna().sum()

fnid                      0
country                   0
country_code              0
admin_1                   0
admin_2                   0
name                      0
product                   0
season_name               0
planting_year             0
planting_month            0
harvest_year              0
harvest_month             0
crop_production_system    0
indicator                 0
value                     0
dtype: int64

In [8]:
# check the statistical summary of numeric columns
regional_df.describe()

,planting_year,planting_month,harvest_year,harvest_month,value
count,43758.000000,43758.000000,43758.000000,43758.000000,43758.000000
mean,2004.883336,1.753965,2004.947141,11.066319,10845.321372
std,15.977616,2.226954,16.013748,2.394648,32943.405992
min,1965.000000,1.000000,1965.000000,3.000000,0.000057
25%,1991.000000,1.000000,1991.000000,12.000000,3.445519
50%,2013.000000,1.000000,2013.000000,12.000000,304.750000
75%,2018.000000,1.000000,2018.000000,12.000000,6153.611611
max,2024.000000,10.000000,2024.000000,12.000000,779381.000000

## 2) Pesticide Usage Dataset

In [9]:
# Load the dataset
pesticide_df=pd.read_csv("./data/environment_pesticides_e_all_data.csv", sep=";")
pesticide_df

,Year,Area,Item,Element,Value,Unit,Area Code (M49),Note
0,2005,United Kingdom of Great Britain and Northern I...,Pesticides (total),Use per area of cropland,5.44,kg/ha,826-01-01,Estimated Value
1,2012,United Kingdom of Great Britain and Northern I...,Pesticides (total),Use per area of cropland,2.83,kg/ha,826-01-01,Estimated Value
2,2021,United Kingdom of Great Britain and Northern I...,Pesticides (total),Use per area of cropland,2.44,kg/ha,826-01-01,Estimated Value
3,1993,United Kingdom of Great Britain and Northern I...,Pesticides (total),Use per capita,0.56,kg/cap,826-01-01,Estimated Value
4,2002,United Kingdom of Great Britain and Northern I...,Pesticides (total),Use per capita,0.52,kg/cap,826-01-01,Estimated Value
...,...,...,...,...,...,...,...,...
99999,2008,Ukraine,Herbicides - nes,Agricultural Use,20856.10,t,804-01-01,Official figure
100000,2020,Ukraine,Herbicides - nes,Agricultural Use,4758.00,t,804-01-01,Official figure
100001,2022,Ukraine,Herbicides - nes,Agricultural Use,4482.00,t,804-01-01,Official figure
100002,2000,Ukraine,Fungicides and Bactericides,Agricultural Use,5734.09,t,804-01-01,Imputed value
100003,2005,Ukraine,Fungicides and Bactericides,Agricultural Use,4122.00,t,804-01-01,Official figure

In [10]:
pesticide_df[pesticide_df["Area"]== "Kenya"]["Area"].value_counts()

Area
Kenya    264
Name: count, dtype: int64

In [11]:
# Check the basic info of the Pesticide Usage Dataset
pesticide_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100004 entries, 0 to 100003
Data columns (total 8 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Year             100004 non-null  int64
 1   Area             100004 non-null  object
 2   Item             100004 non-null  object
 3   Element          100004 non-null  object
 4   Value            100004 non-null  float64
 5   Unit             100004 non-null  object
 6   Area Code (M49)  99674 non-null   object
 7   Note             100004 non-null  object
dtypes: float64(1), int64(1), object(6)
memory usage: 6.1+ MB

In [12]:
# Check the size of the dataset
pesticide_df.shape

(100004, 8)

In [13]:
# Check for duplicates
pesticide_df.duplicated().sum()

0

In [14]:
# Check for null values
pesticide_df.isna().sum()

Year                 0
Area                 0
Item                 0
Element              0
Value                0
Unit                 0
Area Code (M49)    330
Note                 0
dtype: int64

In [15]:
# Handle the missing values in Area Code
pesticide_df=pesticide_df.drop(columns=["Area Code (M49)"])

In [16]:
# Check if the nulls are droped
pesticide_df.isna().sum()

Year       0
Area       0
Item       0
Element    0
Value      0
Unit       0
Note       0
dtype: int64

In [17]:
# Check the statistical summary of the numerical columns
pesticide_df.describe()

                Year         Value
count  100004.000000  1.000040e+05
mean     2006.359706  7.783318e+03
std         9.471125  7.200522e+04
min      1990.000000  0.000000e+00
25%      1998.000000  7.500000e-01
50%      2007.000000  1.610000e+01
75%      2015.000000  3.960000e+02
max      2022.000000  3.690935e+06

## 3) Kenya Agricultural Production dataset

In [18]:
# Load the dataset
df3=pd.read_csv("./data/kenya_crops_only.csv")
df3

,Year,Item,Item Code (CPC),Area_Harvested_ha,Production_tonnes,Yield_hg_per_ha
0,1961,Apricots,1343.0,2.0,10.00,50000.0
1,1961,Avocados,1311.0,1100.0,16000.00,145455.0
2,1961,Bananas,1312.0,40000.0,400000.00,100000.0
3,1961,Barley,115.0,12666.0,13513.00,10669.0
4,1961,"Beans, dry",1701.0,115000.0,55000.00,4783.0
...,...,...,...,...,...,...
3653,2021,Unmanufactured tobacco,1970.0,15441.0,10683.62,6919.0
3654,2021,"Vanilla, raw",1658.0,22.0,14.80,6717.0
3655,2021,Watermelons,1221.0,19405.0,349629.66,180174.0
3656,2021,Wheat,111.0,134070.0,245300.00,18296.0
3657,2021,Yams,1540.0,1031.0,7669.00,74384.0

In [19]:
# Check the basic info
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3658 entries, 0 to 3657
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               3658 non-null   int64
 1   Item               3658 non-null   object
 2   Item Code (CPC)    3658 non-null   float64
 3   Area_Harvested_ha  3377 non-null   float64
 4   Production_tonnes  3658 non-null   float64
 5   Yield_hg_per_ha    3317 non-null   float64
dtypes: float64(4), int64(1), object(1)
memory usage: 171.6+ KB

In [20]:
# Check the size
df3.shape

(3658, 6)

In [21]:
# Check for duplicates
df3.duplicated().sum()

0

In [22]:
# Check for missing values
df3.isna().sum()

Year                   0
Item                   0
Item Code (CPC)        0
Area_Harvested_ha    281
Production_tonnes      0
Yield_hg_per_ha      341
dtype: int64

In [23]:
# Imputing values for the target introduces artificial bias. So we drop the nulls
df3=df3.dropna(subset=["Yield_hg_per_ha"])

In [24]:
# Fill missing values in Area_Harvested_ha with the medium
df3.loc[:, "Area_Harvested_ha"]=df3.groupby("Item")["Area_Harvested_ha"].transform(lambda x: x.fillna(x.median()))

In [25]:
# Check if the missing values are handled
df3.isna().sum()

Year                 0
Item                 0
Item Code (CPC)      0
Area_Harvested_ha    0
Production_tonnes    0
Yield_hg_per_ha      0
dtype: int64

In [26]:
# Check the statistical summary of the numerical columns
df3.describe()

,Year,Item Code (CPC),Area_Harvested_ha,Production_tonnes,Yield_hg_per_ha
count,3317.000000,3317.000000,3.317000e+03,3.317000e+03,3.317000e+03
mean,1994.953573,1247.123946,6.613328e+04,2.323000e+05,7.563950e+04
std,17.004655,521.771892,2.319335e+05,7.064120e+05,1.284094e+05
min,1961.000000,111.000000,2.000000e+00,6.460000e+00,3.330000e+02
25%,1981.000000,1242.000000,6.500000e+02,2.035340e+03,8.222000e+03
50%,1997.000000,1324.000000,5.900000e+03,1.410000e+04,3.823500e+04
75%,2009.000000,1540.000000,3.715000e+04,1.002770e+05,1.000000e+05
max,2021.000000,1970.000000,2.337586e+06,7.783303e+06,1.211845e+06

## 4) climate-dataset-Rainfall

In [27]:
# Load the dataset
Rain_df=pd.read_csv("./data/kenya-climate-data-1991-2016-rainfallmm.csv")
Rain_df

     Year Month Average  Rainfall - (MM)
0    1991   Jan Average          38.2847
1    1991   Feb Average          12.7492
2    1991   Mar Average          73.3656
3    1991   Apr Average          83.1350
4    1991   May Average         112.2750
..    ...           ...              ...
307  2016   Aug Average          25.5342
308  2016   Sep Average          15.1428
309  2016   Oct Average          40.0055
310  2016   Nov Average         121.9970
311  2016   Dec Average         100.2610

[312 rows x 3 columns]

In [28]:
# Check the size
Rain_df.shape

(312, 3)

In [29]:
# Check the basic info of the dataset
Rain_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 312 entries, 0 to 311
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Year             312 non-null    int64
 1   Month Average    312 non-null    object
 2   Rainfall - (MM)  312 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 7.4+ KB

In [30]:
# Check for duplicates
Rain_df.duplicated().sum()

0

In [31]:
# Check for missing values
Rain_df.isna().sum()

Year               0
Month Average      0
Rainfall - (MM)    0
dtype: int64

In [32]:
# Statistical summary of the dataset
Rain_df.describe()

              Year  Rainfall - (MM)
count   312.000000       312.000000
mean   2003.500000        54.800805
std       7.512048        39.560441
min    1991.000000         1.157650
25%    1997.000000        25.848200
50%    2003.500000        43.819150
75%    2010.000000        74.958175
max    2016.000000       247.081000

## 5) climate-dataset-Temperature

In [33]:
# Load the dataset
Temp_df=pd.read_csv("./data/kenya-climate-data-1991-2016-temp-degress-celcius.csv")
Temp_df

     Year Month Average  Temperature - (Celsius)
0    1991   Jan Average                  25.1631
1    1991   Feb Average                  26.0839
2    1991   Mar Average                  26.2236
3    1991   Apr Average                  25.5812
4    1991   May Average                  24.6618
..    ...           ...                      ...
307  2016   Aug Average                  24.0942
308  2016   Sep Average                  24.4370
309  2016   Oct Average                  26.0317
310  2016   Nov Average                  25.5692
311  2016   Dec Average                  25.7401

[312 rows x 3 columns]

In [34]:
# check the size
Temp_df.shape

(312, 3)

In [35]:
# Basic info of the dataset
Temp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 312 entries, 0 to 311
Data columns (total 3 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Year                     312 non-null    int64
 1   Month Average            312 non-null    object
 2   Temperature - (Celsius)  312 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 7.4+ KB

In [36]:
# Check for duplicates
Temp_df.duplicated().sum()

0

In [37]:
# Check for missing values
Temp_df.isna().sum()

Year                       0
Month Average              0
Temperature - (Celsius)    0
dtype: int64

## 6) Crop Yields

In [38]:
df6=pd.read_csv("./data/Crop_Yields.csv")
df6

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,QCL,Crops and livestock products,404,Kenya,5510,Production,1929.07,"Abaca, manila hemp, raw",1976,1976,tonnes,10.00,E,Estimated value
1,QCL,Crops and livestock products,404,Kenya,5510,Production,1929.07,"Abaca, manila hemp, raw",1977,1977,tonnes,10.00,E,Estimated value
2,QCL,Crops and livestock products,404,Kenya,5510,Production,1929.07,"Abaca, manila hemp, raw",1978,1978,tonnes,10.00,E,Estimated value
3,QCL,Crops and livestock products,404,Kenya,5510,Production,1929.07,"Abaca, manila hemp, raw",1979,1979,tonnes,10.00,E,Estimated value
4,QCL,Crops and livestock products,404,Kenya,5510,Production,1929.07,"Abaca, manila hemp, raw",1980,1980,tonnes,10.00,E,Estimated value
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18177,QCL,Crops and livestock products,404,Kenya,5510,Production,1540,Yams,2017,2017,tonnes,10417.00,A,Official figure
18178,QCL,Crops and livestock products,404,Kenya,5510,Production,1540,Yams,2018,2018,tonnes,9610.49,A,Official figure
18179,QCL,Crops and livestock products,404,Kenya,5510,Production,1540,Yams,2019,2019,tonnes,9860.36,A,Official figure
18180,QCL,Crops and livestock products,404,Kenya,5510,Production,1540,Yams,2020,2020,tonnes,8009.16,A,Official figure
18181,QCL,Crops and livestock products,404,Kenya,5510,Production,1540,Yams,2021,2021,tonnes,7669.00,A,Official figure

# Merging the datasets

* First merging will be between the kenya crops csv and the region yield csv using the crops.
* The 6 crops we settled on
    1. Maize
    2. Wheat
    3. Tea
    4. Sugarcane
    5. Rice
    6. Sorghum

In [39]:
# Filter Regional Dataset to Only 6 Crops
selected_crops= [
    "Maize",
    "Wheat",
    "Tea",
    "Surgacane",
    "Rice",
    "Sorghum"
]


regional_yield = regional_df[
   (regional_df["indicator"] == "yield") &
   (regional_df["product"].isin(selected_crops))].copy()

In [40]:
# Rename and Keep only Relevant Columns
regional_yield = regional_yield[[
    "admin_1",
    "product",
    "harvest_year",
    "value"
]]

regional_yield.rename(columns={
    "admin_1": "County",
    "product": "Crop",
    "harvest_year": "Year",
    "value": "Yield"
}, inplace=True)

In [41]:
# Prepare the Climate data-
Rain_yearly = (Rain_df.groupby("Year")["Rainfall - (MM)"].sum().reset_index())
Rain_yearly.rename(columns={"Rainfall - (MM)": "Total_Rainfall"}, inplace=True)

Temp_yearly = (Temp_df.groupby("Year")["Temperature - (Celsius)"].mean().reset_index())
Temp_yearly.rename(columns={"Temperature -  (Celsius)": "Avg_Temperature"}, inplace=True)

In [42]:
# Combine Rain + Temperature
climate_yearly = Rain_yearly.merge(
    Temp_yearly,
    on="Year",
    how="inner"
)

In [43]:
# Prepare Pesticide Dataset
pesticide_kenya = pesticide_df[
   (pesticide_df["Area"] == "Kenya") &
   (pesticide_df["Element"] == "Use per area of cropland")].copy()

# keep only required colums
pesticide_kenya = pesticide_kenya[["Year","Value"]]
pesticide_kenya.rename(columns={
    "Value": "Pesticide_Use"}, inplace=True)

In [44]:
# Merge Everything- Start with regional dataset

df_final = regional_yield.merge(climate_yearly,
                                on="Year",
                                how="left")

# Then pesticide
df_final = df_final.merge(
    pesticide_kenya,
    on="Year",
    how="left"
)

In [45]:
# Sort the final dataset like this
df_final = df_final.sort_values(["County", "Crop", "Year"])

# Create a new column ["Prev_Year_Yield"]  for the previous year's yield for the same County and Crop.
df_final["Prev_Year_Yield"] = ( df_final.groupby(["County", "Crop"])["Yield"].shift(1))

In [53]:
# 1. Remove duplicate county-crop-year rows
df_final = df_final.drop_duplicates(subset=["County", "Crop", "Year"], keep="first")

# 2. Filter to the years covered by climate/pesticide data
df_final = df_final[(df_final['Year'] >= 2010) & (df_final['Year'] <= 2022)]

# 3. Filter to only the 6 crops
df_final = df_final[df_final['Crop'].isin(["Maize","Wheat","Tea","Sugarcane","Rice","Sorghum"])]

# 4. Sort and recompute lag
df_final = df_final.sort_values(["County","Crop","Year"])
df_final["Prev_Year_Yield"] = df_final.groupby(["County","Crop"])["Yield"].shift(1)

df_final["Total_Rainfall"] = df_final["Total_Rainfall"].fillna(df_final["Total_Rainfall"].mean())
df_final["Temperature - (Celsius)"] = df_final["Temperature - (Celsius)"].fillna(df_final["Temperature - (Celsius)"].mean())
df_final["Pesticide_Use"] = df_final["Pesticide_Use"].fillna(df_final["Pesticide_Use"].mean())

In [54]:
df_final.head(60)

,County,Crop,Year,Yield,Total_Rainfall,Temperature - (Celsius),Pesticide_Use,Prev_Year_Yield
3124,Baringo,Maize,2012,1.916579,756.2130,25.245150,0.57,NaN
3125,Baringo,Maize,2013,0.999999,769.6914,25.182175,0.63,1.916579
3126,Baringo,Maize,2014,1.886660,614.6785,25.411450,0.66,0.999999
3127,Baringo,Maize,2015,2.186021,771.9757,25.537633,0.68,1.886660
3128,Baringo,Maize,2016,1.496352,715.2022,25.756608,0.67,2.186021
3206,Baringo,Rice,2012,4.244444,756.2130,25.245150,0.57,NaN
3207,Baringo,Rice,2013,2.247500,769.6914,25.182175,0.63,4.244444
3208,Baringo,Rice,2014,2.800664,614.6785,25.411450,0.66,2.247500
3209,Baringo,Rice,2015,1.876667,771.9757,25.537633,0.68,2.800664
3210,Baringo,Rice,2016,5.000000,715.2022,25.756608,0.67,1.876667
3162,Baringo,Sorghum,2012,0.867057,756.2130,25.245150,0.57,NaN
3163,Baringo,Sorghum,2013,0.898704,769.6914,25.182175,0.63,0.867057
3164,Baringo,Sorghum,2014,0.795181,614.6785,25.411450,0.66,0.898704
3165,Baringo,Sorghum,2015,2.773845,771.9757,25.537633,0.68,0.795181
3166,Baringo,Sorghum,2016,0.941111,715.2022,25.756608,0.67,2.773845
3200,Baringo,Wheat,2015,1.000000,771.9757,25.537633,0.68,NaN
3201,Baringo,Wheat,2016,1.100000,715.2022,25.756608,0.67,1.000000
3851,Bomet,Maize,2012,2.359105,756.2130,25.245150,0.57,NaN
3852,Bomet,Maize,2013,1.718238,769.6914,25.182175,0.63,2.359105
3853,Bomet,Maize,2014,1.083774,614.6785,25.411450,0.66,1.718238
3854,Bomet,Maize,2015,1.410287,771.9757,25.537633,0.68,1.083774
3855,Bomet,Maize,2016,1.776082,715.2022,25.756608,0.67,1.410287
3890,Bomet,Sorghum,2012,0.884591,756.2130,25.245150,0.57,NaN
3891,Bomet,Sorghum,2013,1.106335,769.6914,25.182175,0.63,0.884591
3892,Bomet,Sorghum,2014,1.620495,614.6785,25.411450,0.66,1.106335
3893,Bomet,Sorghum,2015,2.025559,771.9757,25.537633,0.68,1.620495
3894,Bomet,Sorghum,2016,1.832269,715.2022,25.756608,0.67,2.025559
3908,Bomet,Tea,2012,9.965862,756.2130,25.245150,0.57,NaN
3909,Bomet,Tea,2013,10.532294,769.6914,25.182175,0.63,9.965862
3910,Bomet,Tea,2014,9.521509,614.6785,25.411450,0.66,10.532294
3911,Bomet,Tea,2015,12.855758,771.9757,25.537633,0.68,9.521509
3912,Bomet,Tea,2016,11.698304,715.2022,25.756608,0.67,12.855758
4175,Bungoma,Maize,2012,2.390227,756.2130,25.245150,0.57,NaN
4176,Bungoma,Maize,2013,2.725518,769.6914,25.182175,0.63,2.390227
4177,Bungoma,Maize,2014,2.672218,614.6785,25.411450,0.66,2.725518
4178,Bungoma,Maize,2015,2.989396,771.9757,25.537633,0.68,2.672218
4179,Bungoma,Maize,2016,3.043903,715.2022,25.756608,0.67,2.989396
4265,Bungoma,Rice,2012,1.081481,756.2130,25.245150,0.57,NaN
4266,Bungoma,Rice,2013,0.804348,769.6914,25.182175,0.63,1.081481
4267,Bungoma,Rice,2014,1.562963,614.6785,25.411450,0.66,0.804348
4268,Bungoma,Rice,2015,1.358974,771.9757,25.537633,0.68,1.562963
4269,Bungoma,Rice,2016,1.017045,715.2022,25.756608,0.67,1.358974
4227,Bungoma,Sorghum,2012,1.082935,756.2130,25.245150,0.57,NaN
4228,Bungoma,Sorghum,2013,1.019169,769.6914,25.182175,0.63,1.082935
4229,Bungoma,Sorghum,2014,0.990799,614.6785,25.411450,0.66,1.019169
4230,Bungoma,Sorghum,2015,0.748252,771.9757,25.537633,0.68,0.990799
4231,Bungoma,Sorghum,2016,0.975407,715.2022,25.756608,0.67,0.748252
4256,Bungoma,Wheat,2012,2.237143,756.2130,25.245150,0.57,NaN
4257,Bungoma,Wheat,2013,2.291902,769.6914,25.182175,0.63,2.237143
4258,Bungoma,Wheat,2014,3.100000,614.6785,25.411450,0.66,2.291902
4259,Bungoma,Wheat,2015,3.000000,771.9757,25.537633,0.68,3.100000
4260,Bungoma,Wheat,2016,3.000000,715.2022,25.756608,0.67,3.000000
4300,Busia,Maize,2012,1.377609,756.2130,25.245150,0.57,NaN
4301,Busia,Maize,2013,1.441700,769.6914,25.182175,0.63,1.377609
4302,Busia,Maize,2014,1.703905,614.6785,25.411450,0.66,1.441700
4303,Busia,Maize,2015,0.952915,771.9757,25.537633,0.68,1.703905
4304,Busia,Maize,2016,1.610757,715.2022,25.756608,0.67,0.952915
4369,Busia,Rice,2012,2.019710,756.2130,25.245150,0.57,NaN
4370,Busia,Rice,2013,2.019710,769.6914,25.182175,0.63,2.019710
4371,Busia,Rice,2014,4.002101,614.6785,25.411450,0.66,2.019710